@import url(tema.css);

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

header {
    width: 100%;
}

main.container {
    max-width: 600px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h2.text-primary {
    margin-top: 0; 
    background: #3f6766 !important;
    color: #ffffff !important;
    padding: 70px; 
}

.boton-ver-menu {
    margin: 20px 0; 
    background-color: #3f6766;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.boton-ver-menu:hover {
    background-color: #a1b8b2;
}

p {
    color: #333; 
    font-size: 1.1em; 
    margin-bottom: 20px; 
}

#demo {
    width: 100%;
}

