body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container-fluid {
    height: 100vh;
}

.card {
    
    margin: 500px;
    border: none;
    overflow: hidden;

}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 50px;
}

.btn-primary {
    background-color: #3f6766;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #a1b8b2;
}

.btn-block {
    width: 100%;
}


.shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-group{
    font-size: 1.2rem;
}

.card-title{
    font-weight: bold;
}
