@import url(tema.css);

.btn-primary {
    background-color: #3f6766; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
}


.btn-primary:hover {
    background-color: #a1b8b2; 
}

main {
    text-align: center; 
    padding: 50px 0; 
}

h1 {
    background-color: #3f6766;
    color: #fff;
    padding: 10px; 
    margin-top: 10px;
    width: 100%;
}

h2 {
    background-color: #3f6766;
    color: #fff; 
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

p {
    font-size: 1.1em; 
}


