body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1b8b2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.card {
    margin-top: 10px;
    border: 1px solid #3f6766;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #a1b8b2;
    color: #fff;
    width: 500px; 
    height: auto; /* Change this value to 'auto' or a specific height like '400px' */
}

.card-header {
    background-color: #3f6766;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.card-body {
    padding: 20px;
    background-color: #a1b8b2;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #a1b8b2;
    border-radius: 4px;
}

.btn-primary {
    background-color: #3f6766;
    border: none;
}

.btn-primary:hover {
    background-color: #a1b8b2;
}

.btn-block {
    width: 100%;
}