@import url(productos.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    margin-top: 50px; 
}

#resultados {
    margin-top: 230px; 
    text-align: center;
}

#noResultados {
    margin-top: 230px; 
    text-align: center;
    width: 50%;
    max-width: 400px;
}